
.vs/TestCplusplus/v15/Browse.VC.opendb
.vs/slnx.sqlite
.vs/TestCplusplus/v15/.suo
.vs/TestCplusplus/v15/Browse.VC.db
.vs/TestCplusplus/v15/ipch/AutoPCH/175704bbb6627062/FRIENDFUNC.ipch
.vs/VSWorkspaceState.json
.vs/TestCplusplus/v15/ipch/AutoPCH/c26770d3201822bb/MAINFUNC.ipch
.vs/TestCplusplus/v15/ipch/AutoPCH/ac31bc8db1ae1aa0/COPYCONSTRUCTIONFUNC.ipch
.vs/TestCplusplus/v15/ipch/AutoPCH/a4248795b46926d9/COPYCONSTRUCTIONFUNC.ipch
.vs/TestCplusplus/v15/ipch/AutoPCH/a0491c45a9ef6006/DESTRUCTIONFUNC.ipch
.vs/TestCplusplus/v15/ipch/AutoPCH/62cd3b81010cd65/CONSTRUCTIONFUNC.ipch
.vs/TestCplusplus/v15/Browse.VC.db
.vs/TestCplusplus/v15/.suo
.vs/slnx.sqlite
.vs/TestCplusplus/v15/Browse.VC.db
.vs/TestCplusplus/v15/.suo
.vs/slnx.sqlite
/TestCplusplus/x64/Debug
/x64/Debug
